.containerIcons {
    
   
    display: flex; /* Make it a flex container */
    flex-direction: row;
    width: 100%; /* Make it span the full width */
    height: auto; /* Adjust height as needed */
    margin: 0; 
    background-color: rgba(30, 27, 27, 0.97);
    align-items: center;
    justify-content: center;
   
    
    
}

.pageIcons {
    
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-top: 1rem; /* Add spacing above */
     padding: 0.5rem;
     width: 100%;
}


