.containerIcons {
    
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 5rem;
    bottom: 0;
    height: auto; /* Ensure it grows with content */
    
    
}

.pageIcons {
   
     z-index: 5000;
}


