.containerIcons {
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
    flex-wrap: wrap;
   
    
    bottom: 0;
   
    
    
}

.pageIcons {
    
     /* Ensure it grows with content */
     z-index: 5000;
}


