
.layout{
    
    display: flex;
    flex-direction: column;
}

.sectionMedia {
    
    margin: 2rem;
    padding: 0;
    width: 100%;
  
    z-index: 1; /* Higher z-index to appear above LayoutBg */
}

.listMusics{
    position: absolute;
    top: 20%;
}

.listVideos{
    position: absolute;
    top: 50%;
}


.subtitle{
    color: rgb(237, 229, 236);
    font-size: 1.5rem;
    font-family: 'Chau Philomene One', cursive; 
    margin-left: 2rem;
}



.audioContainer h3
{
    color: rgb(237, 229, 236);
    font-size: 1.5rem;
    font-family: 'Chau Philomene One', cursive; 
    
    text-align:center;
    padding: 1rem;
    position: absolute;
    top: 20%;
    left: 55%;
    width: 25rem;
}

.videoContainer h3
{   
    color: rgb(237, 229, 236);
    font-size: 1.5rem;
    font-family: 'Chau Philomene One', cursive; 
    text-align:center;
    padding: 1rem;
    position: absolute;
    top: 20%;
    left: 55%;
    width: 25rem;
    
    
}

.videoPlayer {
    width: auto;
    height: 18rem;
    position: absolute;
    top: 25%;
    right: 2rem;
    z-index: 1; /* Ensure it appears above the layout background */
    padding: 1rem;
}

.audioPlayer {
    padding: 1rem;
    width: 35%;
    
    object-fit: contain;
    position: absolute;
    top: 25%;
    right: 6rem;
    z-index: 1; /* Ensure it appears above the layout background */
}

@media (max-width: 768px) {
   
  
    .audioPlayer {
        width: 50%;
        right: 0;
    }
    .videoPlayer {
        width: auto;
        right: 0;
        top: 25%;
    }
    
    .listMusicsItems 
    {
        display: flex;
        flex: 1;    }
}




@media (max-width: 500px) {
   
    .videoPlayer {
       width: 99%;
        right: 0;
        top: 100%;
    }
    
}

@media (max-width: 400px) {
   
    .videoPlayer {
       width: 99%;
        right: 0;
        top: 100%;
    }
    .audioPlayer {
    width: 50%;
}
    .videoContainer h3
{   
    
    font-size: 1rem;
 
}
    .audioContainer h3
{
    
    font-size: 1rem;
    
}

}
@media (max-width: 350px) {
   
    .videoPlayer {
       width:99%;
        right: 0;
        top: 100%;
    }
    .audioPlayer {
        width: 50%;
    }
    
}