
.containerFooter {
   
    display: flex;
   
    position: fixed; /* Fix the navbar to the top */
    bottom: 0; /* Position it at the top */
    z-index: 1000; /* Ensure it stays on top of other elements */
    flex-direction: row;
    width: 100%; /* Make it span the full width */
    height: auto; /* Adjust height as needed */
    margin: 0; 
    
}

.content {
    flex: 1;
    
}


.footer {

    position: relative;
    bottom: 0;
    width: 100%;
    
    height: auto;
    background-color: #9e1c8f;
    padding: 2rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.756);
    font-family: 'Rock Salt', cursive;
}


.footerList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-items: center;
}
.footerContact p
{
    margin-right: 2rem;
    font-family: 'Roboto', cursive;
}


.footerAboutUs p
{
        margin-right: 2rem;
        font-family: 'Roboto', cursive;
}


.privacyPolicy p
{
    margin-right: 2rem;
    font-family: 'Roboto', cursive;
}