
.containerFooter {
   
    display: flex; /* Flex layout */
    flex-direction: row; /* Align items horizontally */
    width: 100%; /* Full width */
    height: auto; /* Dynamic height */
    margin: 0; /* Remove extra margins */
    padding: 1rem; /* Add padding for spacing */
       
}




.footer {

    position: relative;
    bottom: 0;
    width: 100%;
    
    height: auto;
    background-color: #0a090adf;
    border-radius: 0.4rem;
    padding: 1rem;
    box-shadow: 0 0 1px 0 rgb(0, 0, 0);
    font-family: 'Roboto', cursive;
    letter-spacing: 2;
    
}


.footerList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-items: center;
    color: #fff;
}

.footerList li {
    margin: 0;
    padding: 0;
}
.footer h3 {
    font-family: 'Roboto', cursive;
    font-size: 1rem;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
    
}
.footer p
{
    margin-right: 2rem;
    font-family: 'Roboto', cursive;
    font-size: 0.7rem;
    
}



@media screen and (max-width: 768px) {
    .containerFooter {
        flex-direction: column;
    }
    .footerList {
        flex-direction: column;
    }
    .footerContact p
    {
        margin-right: 0;
    }
    .footerAboutUs p
    {
        margin-right: 0;
    }
    .privacyPolicy p
    {
        margin-right: 0;
    }
}