

.navbar {
  
  background-color: rgb(15, 15, 15);
  box-shadow: 0 4px 12px rgba(0, 0, 0);
  width: 100%; /* Make it span the full width */
  height: auto; /* Adjust height as needed */
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fix the navbar to the top */
  top: 0; /* Position it at the top */
  z-index: 1000; /* Ensure it stays on top of other elements */
  flex-direction: row; /* Ensure items are aligned horizontally */
  padding: 0.5rem;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 1rem; /* Space between logo and user email */
  
}
  .logoWrapper {
    /* Center and resize the logo */
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer; /* Optional for rounded edges */
    margin-left: 1rem;
  }
  
  .logoWrapper img {
    object-fit: contain; /* Ensures the logo scales properly */
    max-width: 100%;
    max-height: 100%;
    
    
  }

  .navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-right: 1rem;
  }


  .navList {
    list-style: none; 
  } 

  .navLinks { 
    gap: 0.2rem; /* Space between links */
  }  

  .userName{
    color: #b1afaf;
    
    
  }
  .userNameText{
    color: #b1afaf;
  }
  
  .login{
    
    color:#b1afaf;
    width: 2.25rem;
    height: auto;
    cursor: pointer;
   
  }

  .burguerBtn, .closeBtn {
    color: #b1afaf;
    width: auto;
    height: 2.15rem;
    cursor: pointer;
    
}

.closeBtn {
    display: block; /* Ensure the close icon is visible when toggled */
   
    margin: 0;
    padding: 0;
}

  .dropdownMenu 
  {
    position: absolute;
    justify-items: right;
    letter-spacing: 1.5px;
    font-weight: 700;
    min-width: 160px;
    width: auto;
    z-index: 1;
    right: 0;
    transform: translateX(-10px);
    padding: 10px;
    background-color: rgba(24, 25, 27, 0.826);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    list-style-type: none;
    margin: 0; /* Remove default margin */
    padding: 0;
  }

  .dropdownItem 
  {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    gap: 0.5rem;
    margin: 20px 20px 20px 20px;
  }

.cartContainer{
  position: relative;
  display: flex;
  justify-content: center; 
  align-items:center;
  text-align: center;
  justify-items: center; 
  }

  .cart{  
    width: 2.4rem;
    height: auto;
    color:#b1afaf;
    
  }

  .itemCount{
    position: absolute;
    top:20%;
    left: 52%; /* Center horizontally */
    transform: translateX(-50%);
    padding: 1px;
    font-size: 0.7rem;
    font-family: 'Roboto';
    color: #090909;
    font-weight: 700; 
    background-color: #ffffff;
    border-radius: 50%;
    height: 17px;
    width: 17px;
  }
  


@media (max-width: 768px)
{

  .itemCount{
    
    right: 22%;
   
  
    
  }
  .subscribeContainer
  {
       padding: 1rem;
  }
 

  .logoWrapper {
    width: 5rem; /* Adjust as needed */
    height: 4rem; /* Adjust as needed */
  }
}

@media (max-width: 500px)
{
 
 
  .itemCount{
    
    right: 22%;
   
  
    
  }
 
  .login{
    
    display: none;
  }


 
}

@media (max-width: 400px)
{
 
 .userName{
    display: none;
  }
 
  
  .itemCount{
    
    right: 22%;
   
  
    
  }

  .cart{
    width: 2.5rem;  
  }

}

@media (max-width: 350px)
{
  
}