
.layout {
    
    width: 100%; 
    height: auto;
    margin: 0;
    border: 0;
    
}

.title {
    
    margin-top: 8rem;
    width: 100%;
    z-index: 2; /* Higher z-index to appear above LayoutBg */
    color: rgb(134, 3, 3);
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    letter-spacing: 8;
    font-size: 5rem;
    font-family: 'Creepster';
    opacity: 0.9;
    
}

.container {
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('/assets/img/cartel.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    position: relative;
    margin: 0;
    border: 0;
    z-index: 1;
  
  
}
.list
{   
    
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
  
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    font-size: 1rem;
    width: 100%;

  
}



.items span{

    font-size: 2rem;
    color: rgb(239, 233, 233);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-family: 'Creepster';
    
    letter-spacing: 3;
     border: 1px solid rgba(47, 46, 46, 0.552);
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        padding: 1rem;
        margin-top: 16rem;
        display: flex;
        background-color: rgba(0, 0, 0, 0.499);
        opacity: 0.9;
        text-align: center;
        justify-content: center;
        align-items: center;
        justify-items: center;

}

.items span:hover{
    background-color: rgba(0, 0, 0, 0.699);
    opacity: 1;
    transition: 0.5s;
    color: rgb(246, 0, 0);
    cursor: pointer;
}



@media (max-width: 1024px) {

    .items span{
        margin-top: 14rem;
    }
    
    
    .title{
        font-size: 3rem;
    }

    
}
@media (max-width: 820px) {

    .items span{
        margin-top: 12rem;
    }
    
    
    .title{
        font-size: 3rem;
    }

    
}
@media (max-width: 660px) {

    .title{
        font-size: 2rem;
    }

    
}

@media (max-width: 570px) {

    .title{
        font-size: 2rem;
    }

   
}

@media (max-width: 450px) {

  
    .list{
        margin-top: 10rem;
        align-items: center;
        justify-content: space-evenly;
        } 
     .items span{
        margin: 0.5rem;
        font-size: 1rem; 
    }
  
}

@media (max-width: 360px) {

    .container{
        background-position: 0 6rem;
    }
    .list{
        margin-top: 2rem;
        } 
     .items span{
       font-size: 0.5rem;
            
    }
  
}