.layout {
   margin-top: 8rem;
    width: 100%;
    height: auto;
    z-index: 0; /* Lower z-index for background */
}

.sectionHeader {
   
    width: 100%;
    height: auto; /* Adjust height as needed */
    z-index: 2; /* Higher z-index to appear above LayoutBg */
    
    text-align: center;
   
    
}

.headerTitle {
    text-align: center;
    font-size: 5rem;
    color:#fbda3a;
    text-shadow: 2px 2px 5px #000000;
    font-family: "Capture it";
    letter-spacing: 2;
  }

  .headerSubTitle {
    text-align: center;
    font-size: 1.5rem;
    color: #ff8c00dc;
    text-shadow: 2px 2px 5px #000000;
    font-family: 'Anton', cursive;
    letter-spacing: 2;
  }





.subtitle{
    color: rgb(237, 229, 236);
    font-size: 1.5rem;
    font-family: 'Chau Philomene One', cursive; 
    margin-left: 2rem;
}


@media (max-width: 768px) {
    .sectionHeader {
        top:3%;
    }
    .sectionHeader h1 {
        font-size: 1.5rem;
    }
    .sectionHeader p {
        font-size: 3rem;
    }

   
}


@media (max-width: 500px) {
   
    .sectionHeader p {
        font-size: 2rem;
    }
 
    
}

@media (max-width: 400px) {
    .sectionHeader h1{
        font-size: 1rem;
      }
   .setionHeader p{
    font-size: 0.5rem;
   }
   

}
@media (max-width: 350px) {
   
   
    
}