.layout {
   margin-top: 8rem;
    width: 100%;
    height: auto;
    z-index: 0; /* Lower z-index for background */
}

.sectionHeader {
   
    width: 100%;
    height: auto; /* Adjust height as needed */
    z-index: 2; /* Higher z-index to appear above LayoutBg */
    
    text-align: center;
   
    
}

.headerTitle {
    text-align: center;
    font-size: 5rem;
    color:#fbda3a;
    text-shadow: 2px 2px 5px #000000;
    font-family: "Capture it";
    letter-spacing: 2;
  }

  .headerSubTitle {
    text-align: center;
    font-size: 1.5rem;
    color: #ff8c00dc;
    text-shadow: 2px 2px 5px #000000;
    font-family: 'Anton', cursive;
    letter-spacing: 2;
  }





.subtitle{
    color: rgb(237, 229, 236);
    font-size: 1.5rem;
    font-family: 'Chau Philomene One', cursive; 
    margin-left: 2rem;
}


.videoTeaser {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 80%;
    height: auto; /* Make the container responsive */
    max-width: 800px; /* Set a maximum width for the video */
    margin: 0 auto; /* Center the container itself */
    position: relative; /* For any absolute positioning inside */
  }
  
  .videoTeaser video {
    width: 100%; /* Make the video responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow */
  }

  @media (max-width: 1200px) {
    .videoTeaser {
      max-width: 700px; /* Slightly smaller for large tablets and small laptops */
    }
  }
  
  @media (max-width: 992px) {
    .videoTeaser {
      max-width: 600px; /* Adjust for tablets */
    }
  }

@media (max-width: 768px) {
    .sectionHeader {
        top:3%;
    }
    .sectionHeader h1 {
        font-size: 1.5rem;
    }
    .sectionHeader p {
        font-size: 3rem;
    }
    .videoTeaser {
        max-width: 500px; /* Adjust for smaller tablets */
      }

   
}

@media (max-width: 576px) {
    .videoTeaser {
      max-width: 100%; /* Full width for mobile devices */
      padding: 0 10px; /* Add some padding to avoid edge-to-edge video */
    }
  
    .videoTeaser video {
      border-radius: 0; /* Optional: Remove rounded corners on small screens */
    }
  }


@media (max-width: 500px) {
   
    .sectionHeader p {
        font-size: 2rem;
    }
 
    
}

@media (max-width: 400px) {
    .sectionHeader h1{
        font-size: 1rem;
      }
   .setionHeader p{
    font-size: 0.5rem;
   }
   

}
@media (max-width: 350px) {
   
   
    
}