.layout{
    margin: 0;
    width: 100%;
    height: 100vh;
}



.loginContainer{    
    position: absolute; /* Ensure z-index takes effect */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the container properly */
    padding: 20px;
    width: 100%;
    height: auto; /* Adjust height as needed */
    text-align: center;
   
}


.loginForm{
   
    display: inline-block;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 300px;
    height: 330px;
    z-index: 2000;
    margin-top: 20px;
    margin-bottom: 14px;
   
}

.formContainer{
    margin: 8px;
    padding: 1px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.8);
    width: auto;
    height: 200px;
}

.logged{
    
    font-size: 1.3rem;
    font-family: Roboto;
    margin: 20px 0 0 0;
    
}

.input
{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    height: 30px;
    font-size: 1.2rem;
    text-align: center;
}

.error{
    color: red;
    font-size: 0.9rem;
    margin-bottom: 6px;
}

.toggleButton {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    
   
  }
    .toggleButton:hover {
        text-decoration: underline;
        background: none;
    }
    .toggleButton:active{
         box-shadow: none;
           
    }