

.layout{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}
.cartContainer{

   display: flex;
   flex-wrap: wrap;
    margin: 10rem 0 0;
    grid-gap: 2rem;
    padding: 2rem;
    
}

.emptyCart{
    height: 100vh;
}
.cartItem{
    box-sizing: border-box;
    border: 0.1rem solid rgba(0, 0, 0, 0.168);
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%)
}

.cardItems{
    margin: 2rem;
    
}
.totalItems{
    width: 30%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}