@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Anton&family=Caesar+Dressing&family=Chau+Philomene+One:ital@0;1&family=Creepster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');
@font-face {
  font-family: "Capture it V2";
  src: url("https://db.onlinewebfonts.com/t/bf99f8d814e79d05b4d2792354a94345.eot");
  src: url("https://db.onlinewebfonts.com/t/bf99f8d814e79d05b4d2792354a94345.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/bf99f8d814e79d05b4d2792354a94345.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/bf99f8d814e79d05b4d2792354a94345.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/bf99f8d814e79d05b4d2792354a94345.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/bf99f8d814e79d05b4d2792354a94345.svg#Capture it V2")format("svg");
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {

  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
