.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/assets/img/black-metal-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  background-color: #050505;

}

.landingImg {
  width: 100%;
  max-width: 70vh;
  height: 70vh;
  padding: 1rem;
}

.buttonWrapper {
  margin-top: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enterButton {
  display: inline-block;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #751010, #4e0707);
  font-family: var(--font-metalmania);
  letter-spacing: 6px;
  font-size: 1.25rem;
  font-weight: 700;
  border: 2px solid transparent;
  text-shadow: 0 0 2px #ccc;
  border-radius: 14px;
  box-shadow: 1px rgba(240, 238, 238, 0.6);
  z-index: 1;
  transition: transform 0.2s ease, background 0.2s ease, border-color 0.2s ease;
}

.linkWrapper {
  text-decoration: none;
  color: inherit;
}
.buttonWrapper {
  margin-top: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.enterButton:hover {
  transform: scale(1.15);
  
}




.btnMessage {
 
  font-size: 25px;
  font-family: var(--font-metalmania);
  color: #ccc;
  text-shadow: 0 0 1px #ccc;
  z-index: 2
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

 
}

@media (max-width: 600px) {

  .page {
    padding: 1rem;
    background-position: center;
    background-size: cover;
  }

  .landingImg {
    width: 100%;
    height: auto;
  }

  .enterButton {
    width: 90%;
    font-size: 1.2rem;
    letter-spacing: 3px;
  }
}



@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
