.button
{
    background: linear-gradient(3deg, rgb(45, 42, 40), rgb(20, 228, 9));
    color: rgb(239, 234, 234);
    padding: 0.3rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 2px 2px;
    cursor: pointer;
    box-shadow: 0 0 1px rgb(244, 238, 237);
    border-radius: 0.5rem;
    transition: background 0.9s ease;
    font-family: 'Alatsi', sans-serif;
    
}

.button:hover
{
    background: #152c168d;
   
}

.button:active
{
    
    box-shadow: 0 2px #44d41f;
    transform: translateY(2px);
}

@media (max-width: 768px) {
    .button
    {
        padding: 0.4rem 0.8rem;
        
    }
}

@media (max-width: 500px) {

   
    .button
    {
          padding: 0.4rem 0.8rem;
          font-size: 16px;
          margin: 0.5rem 0.5rem;
    }
 }