.button
{
    background: linear-gradient(3deg, rgb(45, 42, 40), rgb(228, 9, 228));

    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(214, 113, 239, 0.663);
    border-radius: 4rem;
    transition: background 0.3s ease;
    font-family: 'Alatsi', sans-serif;
}
.button:hover
{
    background-color: #45a049;
}

.button:active
{
    background-color: #45a049;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}