
.liveActs{
   
    text-align: center;
    color: #f5f5f5;
    font-size: 3rem;
    /* color: rgba(255, 140, 0, 0.863); */
    text-shadow: rgb(0, 0, 0) 2px 2px 5px;
    /* font-family: 'Anton', cursive; */
    font-family: 'Creepster', cursive;
    letter-spacing: 6px;
    margin-top: 2rem;
    background-color: #44444427;
}

.table{
    width: 100%;
    border-collapse: collapse;
    margin:0 0 2rem;
    color: #f5f5f5;
    font-family: 'Roboto', cursive;
    letter-spacing: 2;   
}


.head{
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.body{
    background-color: #444;
    color: #ccc;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 4rem;
    text-align: center;
}
.row{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;;
    justify-items: center;

}
.date{
    font-size: 2rem;
    font-weight: 700;
}
.venue{
    font-size: 1.5rem;
    font-weight: 700;
}
.location{
    font-size: 1.5rem;
    font-weight: 700;
}


@media (max-width: 768px) {
    .date{
        font-size: 1rem;
        font-weight: 700;
    }
    .venue{
        font-size: 1rem;
        font-weight: 700;
    }
    .location{
        font-size: 1rem;
        font-weight: 700;
    }
}


@media (max-width: 500px) {
   
    .date{
        font-size: 0.6rem;
        font-weight: 700;
    }
    .venue{
        font-size: 0.8rem;
        font-weight: 700;
    }
    .location{
        font-size: 0.6rem;
        font-weight: 700;
    }
  
}


@media (max-width: 350px) {
   .table{
    margin: 1rem 0 2rem 0;
   }
    
    
}