body {
  height: auto;
  overflow-x: hidden;
}

.container {
  justify-content: center;
  margin-top: 4px;
}
.grid {
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
 
}


.title {
 
  text-align: center;
  font-size: 3rem;
  color: #f5f5f5;;
  /* color: #fbda3a; */
  text-shadow: 2px 2px 5px #000000;
  /* font-family: 'Anton', cursive; */
  font-family: 'Creepster', cursive;
  letter-spacing: 7;
  margin-top: 2rem;
 
  
}



@media (max-width: 500px) {
  .title{
    font-size: 2rem;
  }
  
}
@media (max-width: 350px) {
  .title{
    font-size: 2rem;
  }
 
}