.container {
  justify-content: center;
  margin-top: 4px;
}
.grid {
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
 
}
.title {
  text-align: center;
  font-size: 2rem;
  color: #ff8c00dc;
  text-shadow: 2px 2px 5px #000000;
  font-family: 'Anton', cursive;
  letter-spacing: 6;
  
  
}

@media (max-width: 350px) {
  .title{
    font-size: 1rem;
  }
}